.box {
    flex-shrink: 0;
    background: #F5F5F5;
    margin-bottom: 28px;
}

.box-search {
    margin-top: 66px;
    margin-bottom: 31px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sanh {
    width: 150px;
    height: 29px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.apply {
    height: 51.26px;
    flex-shrink: 0;
    fill: #FFF;
    stroke-width: 2px;
    stroke: var(--Primary-Color, #063F5C);
    display: flex;
    gap: 5px;
    margin-top: auto;
}

.sanh-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.action {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;

}

.action:first-child {
    margin-bottom: 10px;
}
.error {
  color: red;
  font-size: 0.85em;
  margin-top: 4px;
  margin-left: 2px;
}
