/* CSS cho ThongTinTiecCuoi */
.BookingCount-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100px;

}

.BookingCount-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;

}


.form-section {
    flex: 1;
    z-index: 4;
    padding: 32px;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.form-grid {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 16px;
}

.table-selection {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
}


.image-section {
    position: fixed;
    z-index: 5;
    right: 20px;
    top: 86px;
    bottom: 0;
    width: 30%;
    height: 95vh;
    background-image: url('https://res.cloudinary.com/digpe9tmq/image/upload/v1747636596/snapedit_1743606062866_hhdcnh.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-text {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    border-radius: 16px;
    text-align: center;
}

/* CSS cho DatSanhTiec */


.hall-introduction-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    box-shadow: 0px 4px 10px 0px rgba(198, 191, 212, 0.18),
        4px 0px 10px 0px rgba(198, 191, 212, 0.18),
        -4px 0px 10px 0px rgba(198, 191, 212, 0.18);
    width: 85vw;
    height: 550px;
    position: relative;
}

.hall-card {
    width: 25vw;
    border: none;
    margin-top: auto;
    box-shadow: none !important;
    height: 70vh;
}



.hall-img-show {
    width: 25vw;
    height: auto;
    object-fit: cover;
}

.hall-card-header {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}