/* CSS cho DatSanhTiec */


.hall-introduction-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    box-shadow: 0px 4px 10px 0px rgba(198, 191, 212, 0.18),
        4px 0px 10px 0px rgba(198, 191, 212, 0.18),
        -4px 0px 10px 0px rgba(198, 191, 212, 0.18);
    width: 85vw;
    height: 600px;
    position: relative;
}

.hall-card {
    width: 25vw;
    border: none;
    margin-top: auto;
    box-shadow: none !important;
    height: 75vh;
}



.hall-img-show {
    width: 25vw;
    height: auto;
    object-fit: cover;
}

.hall-card-header {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}