.hoadonBox {
  display: flex;
  width: 1230px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #063F5C;
  margin-left: 30px;
}

.ctHoadon {
  color: #FFF;
  padding-left: 150px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  margin: 0 0;
  margin-top: 10px;

}

.hoadonLeft {
  width: 293px;
  height: 700px;
  border-right: 1px dashed white;
  margin-left: 19px;

}

.dashedBorder {
  border-right: 1px solid;
  border-image: repeating-linear-gradient(to bottom,
      white 0 8px,
      transparent 10px 20px) 1 stretch;
}

.hoadonRight {
  margin-left: 43px;
  width: calc(100% - 293px - 59px);
  height: 700px;
  display: flex;
  flex-direction: column;

  overflow-y: auto;      
  padding-right: 16px;   
  box-sizing: border-box;
  padding-bottom: 50px;
}


.row {
  margin-top: 20px;
  display: flex;
  gap: 91px;
  margin-bottom: 15px;
}


.hoadonText {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hoadonName {
  color: #FFD66D;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inf {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: auto;
}
@media print {
  body * {
    visibility: hidden !important;
  }

  .printableHoaDon, .printableHoaDon * {
    visibility: visible !important;
  }

  .printableHoaDon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    background: white;
  }

  .noPrint {
    display: none !important;
  }

  /* 5. Bỏ scrollbar nếu có */
  .printableHoaDon {
    overflow: visible !important;
    max-height: none !important;
  }

}

